@import "./base/vars";
@import "./base/maps";
@import "./base/extend";
@import "./base/mediaqueries";

@import "./componentes/estilosgenerales";
@import "./componentes/header";
@import "./componentes/footer";
@import "./componentes/index";
@import "./componentes/historia";
@import "./componentes/personajes";
@import "./componentes/galeria";



@import "./componentes/comentarios";

