// FONTS
$ftfm: Poppins;
$ftcl: rgb(245,245,245);
$txtdeco: none;

// TITULOS
$h1mob: 40px;
$h2mob: 24px;
$h3mob: 20px;
$h4mob: 20px;
$fzmob: 14px;

// PADDINGS
$padding-s: 5px;
$padding-m: 10px;
$padding-l: 15px;
$padding-xl: 20px;
$padding-xxl: 25px;

// MARGENES
$margin-s: 5px;
$margin-m: 10px;
$margin-l: 15px;
$margin-xl: 20px;
$margin-xxl: 25px;

// VARIOS
$total: 100%;